<div class="container-fluid">
    <h1 class="text-center">About</h1><br><br>
    <div class="row">
    <div class="col-lg-6">
    <img src="../../../assets/img/banner.jpg" alt="" width="100%"><br><br>
</div>
<div class="col-lg-6 p-5">
    <p>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab libero nemo, fuga voluptate placeat quos aliquid saepe suscipit incidunt ex molestias quisquam eum eveniet perferendis dolores natus quasi accusantium tenetur!
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, optio rerum ratione quidem, repellendus praesentium rem expedita velit molestias quisquam nemo unde deleniti magnam at nulla dolore dignissimos, provident quis?
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur fugiat illum cupiditate deleniti dolores non dolore, animi pariatur fugit repudiandae assumenda. Officiis ullam illo aperiam vitae quisquam eveniet praesentium dolorem.
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id fugit dolores dolore ipsum earum, ipsa delectus amet culpa tempora dicta ea quidem, doloribus dolorum alias nihil autem, voluptatem blanditiis commodi. 

    </p>
    </div>
    </div>
</div>
