<div class="container border border-3 bg-img">
    <h1 class="text-center pt-5">Contact Us</h1><br><br><br>
    <form action="">
        <div class="row">
            <div class="col-lg-4">
        <input type="text" placeholder="Enter Your frist Name" class="form-control">
        </div>
        <div class="col-lg-4">
            <input type="text" placeholder="Enter Your middle Name" class="form-control">

        </div>
        <div class="col-lg-4">
            <input type="text" placeholder="Enter Your last Name" class="form-control">

        </div>
        </div><br>
        <div class="col-lg-12">
            <input type="number" placeholder="Enter Your mobile number" class="form-control">

        </div><br>
        <div class="col-lg-12">
            <input type="email" placeholder="Enter Your Email ID" class="form-control">

        </div><br>
        <div class="col-lg-12 p-5 md-4 ">
            <button class="btn">Submit</button>
        </div>
    </form>
    
</div>
