.footer{
    overflow: hidden;
    background-color:black;
    padding: 20px 10px;
    position: sticky;
    top: 100%;
}
h1
{
    font-weight: bold;
    color: white;
    font-size: 20px;
}
a
{
    color:#fff;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 17px;
}
a:hover
{
  color: var(--primary-color);
}
i
{
    padding: 0px 10px;
}
p{
    color: white;
    font-size: 12px;
}
.b
{
    color: rgb(160, 109, 51);
}